.introPanel {
	background-color: #1F2421;
}
.introPanel:after {
	clear: both;
	display: flex;
	flex-direction: row;
}	

	.logoPanel {
		float: left;
		width: 50%;

	}

		.logo {
			
		}

	.explanation {
		float: right;
		
	}

		.intro {

		}

			.text {
			}

.bottomPanel {
	clear: both;
}

	.loginPanel {
	}

	.registerPanel {
	}

	.title {
	}

	.inputs {
		}

		.input {
		
		}

		.label {
		
		}

		.button {
		
		}

.error {
}