@media (max-width: 900px){
	.mainPanel {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 900px){
	.mainPanel {
		position: fixed;
		top: 5%;
		left: 0;
		right: 0;
		bottom: 2%;
	}
}