.summaryPanel {
	overflow: auto;
	position: absolute;
	top: 30%;
	bottom: 0;
	left: 0;
	right:0;
	background-color: #1F2421;
	font-family: abel;
}

.title {
	text-align: center;
	color: #49A078;
	font-weight: bold;
}