@media (max-width: 900px) {
	.summary {
		margin: 1%;
		border-radius: 10px 10px 10px 10px;
		border: 5px solid #216869;
		background-color: #DCE1DE;
		font-family: abel;
	}

		.main {
			display: flex;
			flex-direction: column;
			padding-left: 10px;
			padding-right: 10px;
		}
			.titleLine{
				display: flex;
				flex-direction: column;
				margin-top: 10px;
				margin-bottom: 10px;
			}

				.title {
					font-weight: bold;
					margin: 0;
				}

				.date {
					margin: 0;
					margin-top: 10px;
					font-size: 1.2em;
					font-weight: bold;
				}

			.text {
				font-size: 1.1em;
			}

		.buttons {
			display: flex;
			justify-content: space-between;
		}

		.button {
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			background-color: #1F2421;
			color: #9CC5A1;
			font-weight: bold;
			border: none;
			border-radius: 2px;
		}
}


@media (min-width: 900px) {
	.summary {
		margin: 1%;
		border-radius: 10px 10px 10px 10px;
		border: 5px solid #216869;
		background-color: #DCE1DE;
	}

		.main {
			margin: 1%;
		}
			.titleLine{
				display: flex;
				justify-content: space-between;
			}

				.title {
					color: #1F2421;
					font-weight: bold;
				}

				.date {
					color: #1F2421;
				}

			.text {
				color: #1F2421;
				font-size: 1.3em;
			}

		.buttons {
		
		}

		.button {
			background-color: #1F2421;
			color: #9CC5A1;
			font-weight: bold;
			margin-right: 5px;
		}
}		