.inputPanel {
	background-color: #216869;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: abel;
	font-weight: bold;
	position: absolute;
	top: 0;
	bottom: 70%;
	right:0;
	left:0;
}

	.inputLabel {
		font-size: 1.5em;
		font-weight: bold;
	}
	
	.radio {
		padding-left: .5%;
	}