.summarizer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	flex: 1;
	overflow: auto;
}

.titleArea {
	display: flex;
	flex-direction: column;
}

	.inputLabel {
		font-size: 1.2em;
		font-weight: bold;
		margin-left: 1%;
	}

	.textInput {
		width: 96%;
		align-self: center;
	}

.articleArea {
	display: flex;
	flex-direction: column;
}

	.textArea {
		width: 96%;
		resize: none;
		align-self: center;
	}

.button {
	font-weight: bold;
	width: 96%;
	align-self: center;
}

.error {
	
}