@media (max-width: 900px) {
	.summarizer {
		display: flex;
		flex-direction: column;
	}

	.titleArea {
		
	}

		.inputLabel {
			font-size: 1.2em;
			font-weight: bold;
			margin-left: 10px;
		}

		.textInput {
			margin-left: 10%;
			margin-right: 10%;
			width: 80%;
		}

	.articleArea {
		
	}

		.textArea {
			margin-left: 10%;
			margin-right: 10%;
			width: 80%;
		}

	.button {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 10px;
		margin-bottom: 10px; 
		width: 80%;
		font-weight: bold;
	}

	.errorContainer {
		position: fixed;
		top: 45%;
		bottom: 45%;
		left: 0;
		right: 0;
		z-index: 2;
	}

		.error {
			color: red;
			font-size: 1.5em;
			background-color: rgba(31, 36, 33, .8);
			font-family: abel;
			text-align: center;
		}
}


@media (min-width: 900px) {
	.summarizer {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		flex: 1;
		overflow: auto;
	}

	.titleArea {
		display: flex;
		flex-direction: column;
	}

		.inputLabel {
			font-size: 1.2em;
			font-weight: bold;
			margin-left: 1%;
		}

		.textInput {
			width: 96%;
			align-self: center;
		}

	.articleArea {
		display: flex;
		flex-direction: column;
	}

		.textArea {
			width: 96%;
			resize: none;
			align-self: center;
		}

	.button {
		font-weight: bold;
		width: 96%;
		align-self: center;
	}

	.errorContainer {
		position: fixed;
		top: 45%;
		bottom: 45%;
		left: 0;
		right: 0;
		z-index: 2;
	}

		.error {
			color: red;
			font-size: 1.5em;
			background-color: rgba(31, 36, 33, .8);
			font-family: abel;
			text-align: center;

		}
}